@media (max-width: 1300px) {
  .footer_container {
    border-radius: 250px 0 0 0;
  }
}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }

  .quote_btn-container {
    display: none;
  }

  .custom_nav-container .navbar-nav {
    margin: 0;
    margin-left: auto;
    align-items: center;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
  }


  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .slider_section {
    padding: 75px 0;
  }

  .contact_section .img-box {
    margin-top: 45px;
  }

  .info_section .row>div:nth-child(1) {
    margin-bottom: 25px;
  }

  .info_section .row>div:nth-child(2) {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .hero_area {
    border-radius: 0 0 0px 0;
  }

  .profile-home-img {
    margin-left: -1rem;
  }

  .slider_section .detail-box {
    margin-top: 8rem;
    width: 400px;
    
  }

  .about_section {
    border-radius: 0px 0 0px 0;
    
  }

  #about-me {
    width: auto;
  row-gap: 1rem;

  }

  .about-me {
    font-size: 14px;
    text-align: justify;
    width: auto;
    margin-inline: 0.5rem;
  
  }

  .about-detail-box {
    line-height: 23px;
    width: 350px;
    margin-left: -2rem;
    margin-bottom: 2rem;
  }

  .about-h2 {
    margin-bottom: 5px;
    text-align: center;
    margin-inline: auto;
  }

  .about-paragraph {
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
    width: 350px;
    text-indent: 30px;
    line-height: 25px;
    margin-inline: auto;
  }

  #about-me {
    display: flex;
    width: 350px;
    margin-left: 0rem;
    margin-bottom: 2rem;
    margin-inline: auto;
  }

  .profileImg {
    margin-left: 2.5rem;
  }

  #family {
    height: 1700px;
  }

  #about-family {
    width: 350px;
    display: block;
    margin-inline: auto;
    height: 0;
    column-gap: 2rem;
    align-content: center;
  }

  .box1, .box2, .box3, .box4, .box5, .box6 {
    margin-bottom: 1rem;
  }

  .Mein-Familie {
    font-size: 17px;
    
  }

  .imgFamily {
    width: 250px;
    height: 250px;
  }

  .index-projects {
    display: flex;
    margin-inline: auto;
  }

  .img-box {
    width: 300px;
    height: 200px;
  }

  .projects-box {
    width: 300px;
    height: 370px;
  }

  .projects-h2, .projects-h2-indo {
    text-align: center;
    width: 300px;
    padding: 0.3rem;
  }

  .h5-index {
    width: 250px;
    padding: 0.2rem;
  }

  iframe {
    width: 300px;
  }

  .contact-section {
    display: block;
    margin-inline: auto;
    margin-left: -2rem;
  }
  
  .maps {
    width: 450px;
    margin-top: 1.5rem;
  }
  
  .form_container {
    width: 300px;
  }

  .footer_container {
    font-size: 14px;
  }

  .footer_container-about {
    font-size: 14px;
    margin-top: 120rem;
  }
  

  .about_section .img-box {
    margin-top: 45px;
  }

  .contact_section .row {
    flex-direction: column-reverse;
  }

  .contact_section .map_container {
    margin-left: 0;
    margin-bottom: 45px;
    height: 375px;
  }

  .info_section .row>div:nth-child(3) {
    margin-bottom: 35px;
  }

  .info_section .row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  .info_section .info_links {
    align-items: center;
  }

  .info_section form input {
    text-align: center;
  }
}

@media (max-width: 576px) {}

@media (max-width: 480px) {}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}